{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Qte</th>
                <th>Pu</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.qte }}</td>
                <td>{{ produit.pu }}</td>
                <td>{{produit.idCategorie.libelle }}</td>
                <td>
                    <a class="btn btn-info" role="button" href="{{ path('produit_show', {'id': produit.id}) }}">
                    Supprimer</a>
                    <a class="btn btn-info" role="button" href="{{ path('produit_edit', {'id': produit.id}) }}">
                    editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" role="button" href="{{ path('produit_new') }}">Nouveau</a>
{% endblock %}
