{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('ajouter') }}</button>
     <a href="{{ path('commande_index') }}" role="button" class="btn btn-danger">Retour</a>
{{ form_end(form) }}
