{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>DateComm</th>
                <td>{{ commande.dateComm ? commande.dateComm|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th id="ide">Client</th>
                <td>{{ commande.idClient.nom }}</td>
            </tr>
        </tbody>
    </table>

<<<<<<< HEAD
     
=======
    <a href="{{ path('commande_index') }}">back to list</a>

    <a href="{{ path('commande_edit', {'id': commande.id}) }}">edit</a>
>>>>>>> parent of d792a0f... update

    {{ include('commande/_delete_form.html.twig') }}
    <script >
              $(document).ready(function ()
               {
                   alert(12);
               });
    </script>
{% endblock %}            
            
            
