{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>RespComm</th>
                <th>RespFin</th>
                <th>AdrLiv</th>
                <th>AdrFac</th>
                <th>Tel</th>
                <th>Portable</th>
                <th>Fax</th>
                <th>Email</th>
                <th>SoldeInit</th>
                <th>Solde</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.designation }}</td>
                <td>{{ client.respComm }}</td>
                <td>{{ client.respFin }}</td>
                <td>{{ client.adrLiv }}</td>
                <td>{{ client.adrFac }}</td>
                <td>{{ client.tel }}</td>
                <td>{{ client.portable }}</td>
                <td>{{ client.fax }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.soldeInit }}</td>
                <td>{{ client.solde }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}
