{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ client.designation }}</td>
            </tr>
            <tr>
                <th>RespComm</th>
                <td>{{ client.respComm }}</td>
            </tr>
            <tr>
                <th>RespFin</th>
                <td>{{ client.respFin }}</td>
            </tr>
            <tr>
                <th>AdrLiv</th>
                <td>{{ client.adrLiv }}</td>
            </tr>
            <tr>
                <th>AdrFac</th>
                <td>{{ client.adrFac }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ client.tel }}</td>
            </tr>
            <tr>
                <th>Portable</th>
                <td>{{ client.portable }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ client.fax }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>SoldeInit</th>
                <td>{{ client.soldeInit }}</td>
            </tr>
            <tr>
                <th>Solde</th>
                <td>{{ client.solde }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
