{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Liste des Categories </h1>

    <table class="table">
        <thead>
            <tr>
                <th>code</th>
                <th>nom</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.libelle }}</td>
                <td>
                    <a role="button" class="btn btn-info" href="{{ path('categorie_show', {'id': categorie.id}) }}">details</a>
                    <a role="button" class="btn btn-info"  href="{{ path('categorie_edit', {'id': categorie.id}) }}">editer</a>
                    <a role="button" class="btn btn-danger"  href="{{ path('categorie_delete', {'id': categorie.id}) }}">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a role="button" class="btn btn-info" href="{{ path('categorie_new') }}">Nouveau</a>
{% endblock %}
